<h1>Trip 'n' Out Tutorials</h1>
<p>WELCOME</p>

<div>
<md-content class="md-padding">

  <md-card  ng-repeat="tutorial in allTutorials">

  <md-card-content>
      <div>
          <p ng-repeat="user in allUsers" ng-if="tutorial.author == user._id">{{  user.username  }}</p>

          <p>{{ tutorial.title }}</p>
          <p>{{  tutorial.description}}</p>
      </div>
  </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
            <md-button class="md-raised md-accent" ui-sref="detailTutorial({tutorial_id: tutorial._id})">Details</md-button>
      </div>
</md-card>
</md-content>
</div>
