<!-- 

https://egghead.io/lessons/angularjs-file-uploads
http://www.videogular.com/
https://github.com/flowjs/ng-flow

-->

<h1>Create Trip</h1>

<form ng-submit="createTrip()" accept-charset="utf-8" id="createTripForm">

	<input type="hidden" ng-model="tripdata.author" value="{{ user_id }}">

	<div>
		<div id="details">
			<md-input-container>
			    <label>Title</label>
				<input type="text" ng-model="tripdata.title" required>
		    </md-input-container>
		    <md-input-container>
			    <label>Description</label>
				<input type="text" ng-model="tripdata.description" required>
		    </md-input-container>

			<md-select placeholder="Country" ng-model="tripdata.country">
		    	<md-option ng-repeat="country in countries" value="{{country}}">{{country}}</md-option>
		    </md-select>

		    <md-radio-group ng-model="tripdata.public_trip" class="md-primary">
		        <md-radio-button ng-value="true">Public Trip</md-radio-button>
		        <md-radio-button ng-value="false">Private Trip</md-radio-button>
		    </md-radio-group>

			<div class="form-group">
				<label>Thumbnail</label>
				<div flow-init flow-files-submitted="$flow.upload()">
					<div class="alert" flow-drop ng-if="!$flow.files[0]">
					    <span class='btn' flow-btn>Upload File</span> Drag And Drop your file here
					</div>
					<div ng-if="$flow.files[0]">
						<img flow-img="$flow.files[0]" />
						<span style="display:none" ng-init="tripdata.thumbnail = $flow.files[0].name"></span>
					</div>
				</div>
			</div>
		</div>
		<div id="content">
			
		</div>

		<div ng-show="displayButton">
			<a ng-click="showOptions()">Add Section</a>
		</div>
		<div ng-hide="displayButton">
			<addsection datatype="text" ng-click="showOptions()">Text Area</addsection>
			<addsection datatype="image" ng-click="showOptions()">Image</addsection>
			<addsection datatype="video" ng-click="showOptions()">Video</addsection>
		</div>

		<input type="submit" value="Create Trip">

		
		
	</div>
	<br><br><br>
	{{ tripdata }}

</form>