<div class="jumbotron">

	<h2>This is my message:</h2>
	{{ message }}

</div>

<h2>This is my list:</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Name</td>
            <td>Color</td>
            <td>Nerd Level</td>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="computer in computers">
            <td>{{ computer.name }}</td>
            <td>{{ computer.color }}</td>
            <td>{{ computer.nerdness }}</td>
        </tr>
    </tbody>
</table>