<div class="editProfile">
	<h1>{{ me.name }} - Edit Profile</h1>
	<form ng-submit="saveUser()">
		<md-input-container>
			<label>Name</label>
			<input type="text" ng-model="userData.name" required>
		</md-input-container>
		<md-button type="submit" aria-label="Register" class="md-raised">
	      <span ng-if="!processing">Update</span>

	      <span ng-if="processing" class="spinner"><span class="gyphicon glyphicon-repeat"></span></span>

	    </md-button>
	</form>
	<div flow-init="{query: { source: 'profile' } }" flow-files-submitted='$flow.upload()'>
		<input type="file" flow-btn />
		<input type="file" flow-btn flow-directory />
		<div flow-drag-enter="style={border: '4px solid green'}" flow-drag-leave="style={}" ng-style="style" flow-drop>
			DRAG DROP
		</div>
		<span flow-btn>Upload File</span>
		<img class="preImage" flow-img="$flow.files[0]" >
	</div>
</div>