.clearfix:after {
  content: " ";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  font-size: 0;
}

#home-trips {
  position: relative;
  width: 100%;
}
#home-trips .home-trip {
  width: 100%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  min-height: 400px;
}
#home-trips .home-trip img {
  position: absolute;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}
#home-trips .home-trip .titles {
  position: relative;
  top: 10%;
  left: 15%;
  text-align: left;
}

#my-trips {
  position: relative;
  width: 100%;
}
#my-trips .my-trip {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 400px;
}
#my-trips .my-trip img {
  position: absolute;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%);
}
#my-trips .my-trip .titles {
  position: relative;
  top: 10%;
  left: 15%;
  text-align: left;
}
#my-trips .my-trip .buttons {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#my-trips .my-trip .buttons a {
  background: white;
  color: black;
}

#createTripForm {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  text-align: left;
}
#createTripForm img {
  width: 100%;
}

.form-group {
  margin: 35px 0;
}

.form-group.center {
  margin: 35px 0;
  text-align: center;
}

.addSectionBtn {
  margin: 25px 0;
  background-color: #ffab40 !important;
  color: white !important;
}

.submitBtn {
  width: 400px;
  max-width: 80%;
}

.drop {
  padding: 15px;
  margin: 10px 0;
  border: 2px dashed #f1f1f1;
  border-radius: 5px;
  line-height: 34px;
}

.drop.drag-over {
  background: #5cb85c;
  color: white;
}

.uploadBtn {
  cursor: pointer;
}
