// google fonts
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic)

*
	margin: 0
	padding: 0
	box-sizing: border-box

// variables =======================
$body-color: black

$small-break: 768px
$big-break: 1024px

$head-font: 'Didact Gothic', sans-serif
$main-font: 'Open Sans', sans-serif
$master-font-size: 16px

$h1-size: 2em
$h2-size: 1.7em
$h3-size: 1.3em

$content-pad: 15px

$animation-speed: 0.3s
$bezier: cubic-bezier(.42,0,.58,1)

// mixins ===========================
@mixin respond($size)
	@if $size == $small-break
		@media only screen and (min-width: $small-break)
			@content
	@else if $size == $big-break
		@media only screen and (min-width: $big-break)
			@content

@mixin addAnim
	-webkit-transition: $animation-speed $bezier
	-moz-transition: $animation-speed $bezier
	-o-transition: $animation-speed $bezier
	transition: $animation-speed $bezier

@mixin menuTrans
	transform: translateX(100%)

@mixin menuHam
	transform: translateX(-100%)

@mixin keyframes($name)
	@-webkit-keyframes #{$name}
		@content
	@-moz-keyframes #{$name}
		@content
	@keyframes #{$name}
		@content

@mixin animation($string)
	-webkit-animation: #{$string}
	-moz-animation: #{$string}
	animation: #{$string}

// general =============================
html
	overflow-x: hidden !important
	width: 100%
	height: 100%

body
	width: 100%
	height: 100%
	overflow-x: hidden !important
	font:
		family: $main-font
		size: $master-font-size

h1
	font:
		family: $head-font
		size: $h1-size
		weight: 300

h2
	font:
		family: $head-font
		size: $h2-size
		weight: 300

h3 
	font:
		family: $head-font
		size: $h3-size
		weight: 300

li
	font:
		family: $head-font

a
	color: $body-color
	text-decoration: none

.loginForm
	width: 300px
	margin: 0 auto

// container ============================
.container
	height: 100%
	margin-bottom: -50px
	@include addAnim
	&.menu
		@include menuTrans


// header and menu ===========================

.header
	padding: $content-pad
	background: black
	color: white
	a
		color: white
	&:after
		content: ""
		display: block
		clear: both
	.title
		display: table
		width: 100%
		@include respond($small-break)
			display: block
		h1
			display: table-cell
			vertical-align: center
			text-align: center
			min-height: 68px
			position: relative
			z-index: 1
			@include respond($small-break)
				display: block
				float: left
		.hamburger
			display: block
			position: absolute
			left: 10px
			top: 10px
			@include addAnim
			text-align: left
			min-height: 68px
			width: 42px
			z-index: 9999
			i
				cursor: pointer
			&.menu
				@include menuHam
				color: black
				left: -10px
			@include respond($small-break)
				display: none
	.main-nav
		transform: translateX(-100%)
		background: black
		height: 100%
		width: 100%
		position: absolute
		padding: $content-pad 30px
		left: 0
		&:after
			content: ""
			display: block
			clear: both
		@include respond($small-break)
			transform: translateX(0)
			padding: 0
			position: static
			text-align: right
			right: 0
			width: 100%
			height: auto
			.loggedMenu
				width: 100%
				ul
					position: absolute
					width: 100%
					top: 0
		ul
			padding: $content-pad
			@include respond($small-break)
				padding: 0
				position: absolute
				bottom: 0
				right: 0
			li
				list-style: none
				margin: 20px 0
				font:
					size: 1.4em
				@include respond($small-break)
					display: inline-block
					margin: 10px 20px

// main =================================

main
	position: relative
	height: 100%
	margin-bottom: -50px
	padding: $content-pad
	text-align: center

#public
	height: 100%
	position: relative

.viewContent
	position: absolute
	width: 100%

// footer =================================

.footer
	background: black
	color: white
	height: 50px

// Angular animation ENTER LEAVE ========================

@include keyframes('appear')
	from
		opacity: 0 

@include keyframes('disappear')
	to
		opacity: 0

@include keyframes('slideLeft')
	from
		transform: translateX(100%)
	to
		transform: translateX(0)

@include keyframes('slideRight')
	to
		transform: translateX(100%)



.loggedIn.ng-enter, .loggedOut.ng-enter
	@include animation('appear 0.5s')
	@include respond($small-break)
		@include animation('slideLeft 0.5s')

.loggedIn.ng-leave, .loggedOut.ng-leave
	@include animation('disappear 0.5s')
	@include respond($small-break)
		@include animation('slideRight 0.5s')

.ng-enter
	@include animation('appear 0.5s')

.ng-leave
	@include animation('disappear 0.5s')