.clearfix
	&:after
		content: " "
		display: block
		visibility: hidden
		clear: both
		height: 0
		font-size: 0	

// homepage =================================

#home-trips
	position: relative
	width: 100%
	.home-trip
		width: 100%
		position: relative
		cursor: pointer
		overflow: hidden
		min-height: 400px
		img
			position: absolute
			left: 50%
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto
			transform: translateX(-50%)
		.titles
			position: relative
			top: 10%
			left: 15%
			text-align: left
			h2
				
			h4
				
			h5
				