.clearfix
	&:after
		content: " "
		display: block
		visibility: hidden
		clear: both
		height: 0
		font-size: 0	

// homepage =================================

#home-trips
	position: relative
	width: 100%
	.home-trip
		width: 100%
		position: relative
		cursor: pointer
		overflow: hidden
		min-height: 400px
		img
			position: absolute
			left: 50%
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto
			transform: translateX(-50%)
		.titles
			position: relative
			top: 10%
			left: 15%
			text-align: left
			h2
				
			h4
				
			h5

// trips =================================

#my-trips
	position: relative
	width: 100%
	.my-trip
		width: 100%
		position: relative
		overflow: hidden
		min-height: 400px
		img
			position: absolute
			left: 50%
			min-width: 100%
			min-height: 100%
			width: auto
			height: auto
			transform: translateX(-50%)
		.titles
			position: relative
			top: 10%
			left: 15%
			text-align: left
			h2
				
			h4
				
			h5
		.buttons
			position: absolute
			bottom: 30px
			right: 30px
			a
				background: #fff
				color: #000
				

#createTripForm
	max-width: 800px
	width: 90%
	margin: 0 auto
	text-align: left
	img
		width: 100%

.form-group
	margin: 35px 0

.form-group.center
	margin: 35px 0
	text-align: center

.addSectionBtn
	margin: 25px 0
	background-color: #ffab40!important
	color: #fff!important

.submitBtn
	width: 400px
	max-width: 80%

.drop
	padding: 15px
	margin: 10px 0
	border: 2px dashed #f1f1f1
	border-radius: 5px
	line-height: 34px
.drop.drag-over
	background: #5CB85C
	color: #fff

.uploadBtn
	cursor: pointer